page-home {
	.bg {
		background-color: color($colors, secondary);
	}

	.welcome-img {
		width: 110%;
	    position: absolute;
	    bottom: 0%;
	    left: 50%;
	    transform: translate(-50%, 0%);
	}

	.google-button {
		height: 120px;
		width: 120px;
		border-radius: 50%;
	}

	.welcome-text{
		color: color($colors, light);
		font-weight: 900;
		font-size: 50px;
		text-align: center;
	}

	.google-button-parent {
		margin-top: 20px;
		display: flex;
	  	justify-content: center;
	  	align-items: center;
	}

	.welcome-parent {
		margin-top: 25vh;
	}
}
