<ion-content padding class="bg" (click)="showAuth = true;">

	<div class="welcome-parent" *ngIf="showAuth">
		<h1 class="welcome-text">Get started with Google</h1>
		<p>{{result}}</p>
		<div class="google-button-parent">
			<button class="google-button" ion-button color="light" (click)="loginUser()">
				<img class="google-img" src="assets/imgs/google-logo.jpg"/>
			</button>
		</div>
	</div>

	<div *ngIf="!showAuth">
		<h1 class="welcome-text" style="margin-top: 25vh; font-size: 60px;">Welcome</h1>
		<img class="welcome-img" src="assets/imgs/white-arrows.png"/>
	</div>
	
</ion-content>
