 <ion-header>
    <ion-navbar>
      	<ion-title>Daily Survey</ion-title>
      	<ion-buttons end>
		 	<button ion-button icon-only (click)="closeModal()">
	        	<ion-icon name="close" ></ion-icon>
	      	</button>
	    </ion-buttons>
    </ion-navbar> 
  </ion-header>


<ion-content padding>
	<div class="centered">
	<div  *ngIf="step == 1">
		<h2 class="question">How did you feel today?</h2>
		<h4 class="color-primary answer" [ngClass]="{'color-secondary' : model.mood < 4}">{{model.moodStrings[model.mood-1]}}
		</h4>  
		<ion-item>
			<ion-range 	
				class="form-control" 
				name="mood" 
				min="1" 
				max="7" 
				step="1" 
				snaps="true" 
				[(ngModel)]="model.mood" 
				color="dark">
				<ion-label range-left>
					<ion-icon name="sad" color="secondary"  ></ion-icon>
				</ion-label>
				<ion-label range-right>
					<ion-icon name="happy" color="primary"></ion-icon>
				</ion-label>
			</ion-range>
		</ion-item>
	</div>

	<div *ngIf="step == 2">
		<h2 class="question">How many hours did you sleep last night?</h2>
		<h4 class="color-primary answer" [ngClass]="{'color-secondary' : model.sleepTime < 8}" >{{model.sleepTime}} Hour(s)</h4>  
		<ion-item>
			<ion-range 	
				class="form-control" 
				name="sleepTime" 
				min="0" 
				max="12" 
				step="1" 
				snaps="true" 
				[(ngModel)]="model.sleepTime" 
				color="dark">
				<ion-label range-left color="secondary">0</ion-label>
				<ion-label range-right color="primary">12</ion-label>
			</ion-range>
		</ion-item>
	</div>

	<div *ngIf="step == 3">
		<h2 class="question">How well did you sleep?</h2>
		<h4 class="color-primary answer" [ngClass]="{'color-secondary' : model.sleepQuality < 4}" >{{model.sleepStrings[model.sleepQuality -1]}}</h4>  
		<ion-item>
			<ion-range 	
				class="form-control" 
				name="sleepQuality" 
				min="1" 
				max="7" 
				step="1" 
				snaps="true" 
				[(ngModel)]="model.sleepQuality" 
				color="dark">
				<ion-label range-left>
					<ion-icon name="moon" color="secondary"></ion-icon>
				</ion-label>
				<ion-label range-right>
					<ion-icon name="moon" color="primary"></ion-icon>
				</ion-label>
			</ion-range>
		</ion-item>
	</div>

	<div *ngIf="step == 4">
		<h2 class="question">Overall, how were your social interactions today?</h2>
		<h4 class="color-primary answer" [ngClass]="{'color-secondary' : model.social < 4}" >{{model.socialStrings[model.social-1]}}</h4>  
		<ion-item>
			<ion-range 	
				class="form-control" 
				name="social" 
				min="1" 
				max="7" 
				step="1" 
				snaps="true" 
				[(ngModel)]="model.social" 
				color="dark">
				<ion-label range-left>
					<ion-icon name="chatbubbles" color="secondary"></ion-icon>
				</ion-label>
				<ion-label range-right>
					<ion-icon name="chatbubbles" color="primary"></ion-icon>
				</ion-label>
			</ion-range>
		</ion-item>
	</div>
  	<button class="circle" *ngIf="step < 4" ion-button color="light" (click)="goNext();">
  		<img src="assets/imgs/arrow-left-blue.png"/>
  	</button>
  	<button class="circle" *ngIf="step == 4" ion-button color="light" (click)="finishSurvey();">
  		<img src="assets/imgs/check-blue.png"/>
  	</button>
  </div>


</ion-content>
